%div{class:'flex flex-col justify-center items-center'}
  %h2{class: 'font-bold text-5xl w-4/5 text-center p-4'} TRACKS
  %div{class: 'w-full h-96 overflow-y-auto overflow-x-hidden'}
    %table{class: 'w-full rounded-t-lg shadow-2xl'}
      %thead
      %tr{class:'text-white bg-blue-400'}
        %th{class: ''} 
        %th{class: ''} 
        %th{class: ''} URL
        %th{class: ''} NAME
        %th{class: ''} CREDITS
        %th{class: ''} AVAILABLE 
      %tbody
      - @tracks.each do |track|
        %tr{class: 'bg-gray-100 border border-white text-center'} 
          %td{class: ' hover:bg-blue-400 hover:text-white'}
            = link_to 'Edit', edit_track_path(track.id), class:'' 
          %td{class: ' hover:bg-red-400 hover:text-white'}
            = link_to 'Delete', track_path(track.id), method: :delete, data: {confirm: "Are you sure"},class:''
          %td{class: ''}= track.url
          %td{class: ''}= track.name
          %td{class: ''}= track.credits
          %td{class: ''}= track.available

  %br
  %button{class:'h-12 w-48 text-white font-bold bg-blue-400 py-1 px-12 rounded hover:bg-blue-700 mb-4'}
    = link_to 'New Track', 'tracks/new'
  %button{class:'h-12 w-48 text-white font-bold bg-blue-400 py-1 px-12 rounded hover:bg-blue-700'}
    = link_to 'Back', 'static/home'
