%div{class:'flex flex-col justify-center items-center'}
  %h2{class: 'font-bold text-5xl mb-4'} TRACKS
  %table{class: 'w-4/5 border border-black'}
    %thead
    %tr
      %th{class: 'border border-black'} action
      %th{class: 'border border-black'} url
      %th{class: 'border border-black'} name
      %th{class: 'border border-black'} credits
      %th{class: 'border border-black'} available 
    %tbody
    - @tracks.each do |track|
      %tr 
        %td{class: 'border border-black text-center'}
          = link_to 'Edit', edit_track_path(track.id), class:'hover:text-green-400' 
          |
          = link_to 'Delete', track_path(track.id), method: :delete, data: {confirm: "Are you sure"},class:'hover:text-red-400'
        %td{class: 'border border-black text-center'}= track.url
        %td{class: 'border border-black text-center'}= track.name
        %td{class: 'border border-black text-center'}= track.credits
        %td{class: 'border border-black text-center'}= track.available

  %br
  %button{class:'h-12 w-48 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700 mb-4'}
    = link_to 'New Track', 'tracks/new'
  %button{class:'h-12 w-48 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700'}
    = link_to 'Back', 'static/home'
