%div{class:'w-screen h-screen flex flex-col justify-center items-center'}
  %h1{class:'font-bold text-5xl mb-4'} NEW ARTIST
  - if @artist.errors.any?
    - @artist.errors.full_messages.each do |error|
      %p{class:'text-red-400'}= error

  = form_with model: @artist do |f|
    %div{class:'flex justify-between'}
      = f.label :name,class:'w-full border border-black p-1'
      = f.text_field :name,class:'border border-black border-l-0 p-1'

    %div{class:'flex justify-between'}
      = f.label :permalink,class:'w-full border border-black p-1 border-t-0'
      = f.text_field :permalink,class:'border border-black border-l-0  border-t-0 p-1'

    %div{class:'flex justify-between'}
      = f.label :bio,class:'w-full border border-black p-1 border-t-0'
      = f.text_field :bio,class:'border border-black border-l-0 border-t-0 p-1'

    %div{class:'flex justify-between'}
      = f.label :formed_at,class:'w-full border border-black p-1 border-t-0'
      = f.date_field :formed_at,class:'border border-black border-l-0 border-t-0 p-1'

    %div{class:'flex justify-between'}
      = f.label :verified,class:'w-full border border-black p-1 border-t-0'
      = f.select :verified, ['true', 'false'], class:'border border-black border-l-0 border-t-0 p-1'

    %div{class:'flex justify-between'}
      = f.label :verified_at,class:'w-full border border-black p-1 border-t-0'
      = f.date_field :verified_at,class:'border border-black border-l-0 border-t-0 p-1'
    
    %div{class:'flex justify-between'}
      = f.label :avatar,class:'w-full border border-black p-1 border-t-0'
      = f.file_field :avatar,class:'border border-black border-l-0 border-t-0 p-1'

    -# %div{class:'flex justify-between'}
    -#   = f.label :avatar_url,class:'w-full border border-black p-1 border-t-0'
    -#   = f.text_field :avatar_url,class:'border border-black border-l-0 border-t-0 p-1'

    %div{class:'flex justify-between'}
      = f.label :cover_photo_url,class:'w-full border border-black p-1 border-t-0'
      = f.text_field :cover_photo_url,class:'border border-black border-l-0 border-t-0 p-1'

    %br
    
    = f.submit 'SUBMIT', class:'cursor-pointer h-12 w-48 text-white font-bold bg-blue-400 py-1 px-12 rounded hover:bg-blue-700 mb-4'
    %button{class:'h-12 w-48 text-white font-bold bg-blue-400 py-1 px-12 rounded hover:bg-blue-700 mb-4'}
      = link_to 'BACK', '/artists'