-# %div{class:'flex flex-col justify-center items-center'}
-#   %h2{class: 'font-bold text-5xl w-4/5 text-center p-4'} ARTISTS
-#   %div{class: 'w-full h-96 overflow-y-auto overflow-x-hidden'}
-#     %table{class: 'w-full rounded-t-lg shadow-lg'}
-#       %thead
-#       %tr{class:'text-white bg-blue-400'}
-#         %th{class: ''}
-#         %th{class: ''} 
-#         %th{class: ''} NAME
-#         %th{class: ''} PERMALINK
-#         %th{class: ''} BIO
-#         %th{class: ''} FORMED AT 
-#         %th{class: ''} VERIFIED
-#         %th{class: ''} VERIFIED AT 
-#         %th{class: ''} AVATAR URL
-#         %th{class: ''} COVER PHOTO URL
-#       %tbody
-#       - @artist.each do |artist|
-#         %tr{class: 'bg-gray-100 border border-white text-center'}
-#           %td{class: ' hover:bg-blue-400 hover:text-white'}
-#             = link_to 'EDIT', edit_artist_path(artist.id), class:''
-#           %td{class: ' hover:bg-red-400 hover:text-white'}
-#             = link_to 'DELETE', artist_path(artist.id), method: :delete, data: {confirm: "Are you sure"}, class: ''
-#           %td{class: ''}= artist.name
-#           %td{class: ''}= artist.permalink
-#           %td{class: ''}= artist.bio
-#           %td{class: ''}= artist.formed_at
-#           %td{class: ''}= artist.verified
-#           %td{class: ''}= artist.verified_at 
-#           %td{class: ''}= artist.avatar_url
-#           %td{class: ''}= artist.cover_photo_url
-#   %br
-#   %button{class:'h-12 w-48 text-white font-bold bg-blue-400 py-1 px-12 rounded hover:bg-blue-700 mb-4'}
-#     = link_to 'New Artist', 'artists/new'
-#   %button{class:'h-12 w-48 text-white font-bold bg-blue-400 py-1 px-12 rounded hover:bg-blue-700'}
-#     = link_to 'Back', 'static/home'

%body{class: 'w-screen h-screen'}
  %main{class: 'w-full h-full'}
    %div{class: 'w-4/5 h-full mx-auto flex flex-col items-center justify-center'}
      %h1{class: 'font-bold text-2xl'} ARTISTS
      %div{class: 'w-full h-3/5 mx-auto flex flex-wrap overflow-y-auto overflow-x-hidden'}
        = link_to 'artists/new' do
          %div{class: 'w-48 h-64 bg-red-400 m-4 flex justify-center items-center hover:bg-red-900'}
            %h1{class: 'text-5xl text-white'} +
        - @artist.each do |artist|
          %div{class: 'w-48 h-64 bg-gray-100 flex flex-col justify-center items-center m-4 relative shadow-lg'}
            %div{class:'h-1/2'}
              - if artist.avatar.attached?
                = image_tag artist.avatar, class:'h-32 w-32 rounded-full mt-2'
              - else
                %p No Picture
            %div{class:'h-1/2 flex flex-col items-center justify-center'}
              %p{class:'font-bold text-center'}= artist.name
            %div{class: 'absolute bottom-0 flex justify-around w-full'}
              %button{class:'font-bold bg-blue-400 text-white w-1/2 hover:bg-blue-900'}
                = link_to 'EDIT', edit_artist_path(artist.id)
              %button{class:'font-bold bg-red-400 text-white w-1/2 hover:bg-red-900'}
                = link_to 'DELETE', artist_path(artist.id), method: :delete, data: {confirm: "Are you sure"}
      %button{class: 'mt-12 bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-900'}
        = link_to 'BACK', 'static/home'