%div{class:'flex flex-col justify-center items-center'}
  %h2{class: 'font-bold text-5xl w-4/5 text-center p-4'} ARTISTS
  %table{class: 'w-4/5 rounded-t-lg shadow-2xl'}
    %thead
    %tr{class:'text-white'}
      %th{class: 'bg-green-500 p-4 rounded-tl-lg'}
      %th{class: 'bg-green-500 p-4'} 
      %th{class: 'bg-green-500 p-4'} NAME
      %th{class: 'bg-green-500 p-4'} PERMALINK
      %th{class: 'bg-green-500 p-4'} BIO
      %th{class: 'bg-green-500 p-4'} FORMED AT 
      %th{class: 'bg-green-500 p-4'} VERIFIED
      %th{class: 'bg-green-500 p-4'} VERIFIED AT 
      %th{class: 'bg-green-500 p-4'} AVATAR URL
      %th{class: 'bg-green-500 p-4 rounded-tr-lg'} COVER PHOTO URL
    %tbody
    - @artist.each do |artist|
      %tr 
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center font-medium hover:bg-blue-400 hover:text-white'}
          = link_to 'EDIT', edit_artist_path(artist.id), class:''
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center font-medium hover:bg-red-400 hover:text-white'}
          = link_to 'DELETE', artist_path(artist.id), method: :delete, data: {confirm: "Are you sure"}, class: ''
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.name
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.permalink
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.bio
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.formated_at 
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.verified
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.verified_at 
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= artist.avatar_url
        %td{class: 'border border-r-0 border-t-0 border-gray-400 text-center p-1'}= artist.cover_photo_url
  %br
  %button{class:'h-12 w-48 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700 mb-4'}
    = link_to 'New Artist', 'artists/new'
  %button{class:'h-12 w-48 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700'}
    = link_to 'Back', 'static/home'