%div{class:'flex flex-col justify-center items-center'}
  %h2{class: 'font-bold text-5xl w-4/5 text-center p-4'} ALBUMS
  %table{class: 'w-4/5 rounded-t-lg shadow-2xl'}
    %thead
    %tr{class:'text-white'}
      %th{class: 'bg-green-500 p-4 rounded-tl-lg'}
      %th{class: 'bg-green-500 p-4'}
      %th{class: 'bg-green-500 p-4'} name
      %th{class: 'bg-green-500 p-4'} released
      %th{class: 'bg-green-500 p-4'} released_at
      %th{class: 'bg-green-500 p-4'} cover_art_url 
      %th{class: 'bg-green-500 p-4'} kind
      %th{class: 'bg-green-500 p-4 rounded-tr-lg'} length 
    %tbody
    - @albums.each do |album|
      %tr 
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center font-medium hover:bg-blue-400 hover:text-white'}
          = link_to 'Edit', edit_album_path(album.id), class:''
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center font-medium hover:bg-red-400 hover:text-white'}
          = link_to 'Delete', album_path(album.id), method: :delete, data: {confirm: "Are you sure"},class:''
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= album.name
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= album.released
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= album.released_at
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= album.cover_art_url
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= album.kind
        %td{class: 'border border-l-0 border-t-0 border-gray-400 text-center p-1'}= album.length 
  %br
  %button{class:'h-12 w-48 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700 mb-4'}
    = link_to 'New Album', 'albums/new'
  %button{class:'h-12 w-48 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700'}
    = link_to 'Back', 'static/home'
